@import '@styles/variables.scss';

.status-badge {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  height: 24px;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: $font-size-small;
  font-weight: 500;

  .anticon {
    font-size: 16px;
  }
}
